<div class="main posts-new">
  <div class="container">
    <%= form_tag("/posts/#{@post.id}/update") do %>
      <h1 class="form-heading">編集する</h1>
      <textarea name = "content"><%= @post.content %></textarea>
      <input type="submit" value ="save">
    <% end %>
  </div>
</div>
